@import "tailwindcss";
/* @plugin "daisyui"; */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



@theme {

  /* font and other theme colors */
  --color-primary: #ffC825;
  --color-secondary: #4d4d4d;
  --color-swblue:#2B3674;
  --color-accent: #171717;
  --color-gray-shade: #a7a8aa;
  --color-primary-shade: #fffaeb;
  --color-page-background: #f4f7fe;

  --color-border-bold-shade: #cfdbe8;
  --color-border-light-shade: #f4f7fe;
  
  --color-inactive-text: #a3a3d0;
  --color-active-text: #2b3674;

  --color-search-bar-bg: #e8edf5;


  --color-error-color: #fb2c36;

  /* button properties : padding, width, height, margine, hover effects*/

  --shadow-sha: red;

  /* custom spacing  */
  --spacing-7: 1.7rem; /* 4px : used as p-7 for padding */ 

  /* custom breakpoints */
  --breakpoint-xsbreak: 320px; /* xsbreak:text-xs (here xs is 16px standard tailwind font side) for mobile responsive styles*/

}

  /* layer based custom styling => global style */
@layer base {
  
  a{
    /* color:orange; */
    text-decoration: none; /* this is to add regular css*/
    @apply hover:text-blue-500 hover:underline;
    font-weight: 600;
  }
}

/* Layer components */
@layer components { 

  /*The yellow color button in the home*/
  .btn-primary{
    @apply bg-primary hover:bg-gray-900 text-white px-8 py-4 text-sm font-semibold rounded cursor-pointer;
  }

  /*The yellow button in the navBar*/
  .btn-small-primary{
    @apply cursor-pointer bg-primary hover:bg-gray-900 text-white px-4 py-2 rounded text-sm;
  }

  /*The black color button in the home*/
  .btn-secondary{
    @apply bg-black text-white hover:bg-gray-900 px-8 py-4 text-sm font-semibold rounded flex items-center gap-2 cursor-pointer;
  }

  .btn-primary-viewinfo {
    @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600;
  }

  .form-field{
              
    @apply w-full px-4 py-2 text-sm rounded-xl border transition-all outline-none;
    
  }
  .signup-form-field {
    @apply max-w-md mx-auto p-2 bg-orange-50 rounded-b-sm shadow-lg;
  }
  
}

:root {
  --background: #F4F7FE;
  --foreground: #171717;
  --neutral-grey: #4D4D4D;
  --background-dashb : #F4F7FE;

}

body {
  background: var(--background);
  color: #4D4D4D;
  font-family: 'poppins',Arial, Helvetica, sans-serif;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  display: inline-block;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  color: #ffc825 !important;
  width: 30px;
  background-color: #ffc825; 
}


h1 , h2 {
  color: #4D4D4D;

}



@layer utilities {

  /*---------------------------------------SIDE BAR STYLES ------------------------------------------------*/

  .sidebar-link {
    @apply flex items-center gap-3 text-gray-400 hover:text-blue-600 py-2 px-4 cursor-pointer transition-colors duration-200;
  }

  .sidebar-link:hover {
    @apply bg-gray-100 text-blue-600;
  }

  .sidebar-link-active {
    @apply text-blue-900 font-semibold bg-transparent border-r-4 border-yellow-400;
  }

  .sidebar-link-active:hover {
    @apply bg-yellow-50 text-blue-900 no-underline;
  }


  .sidebar-icon {
    @apply w-5 h-5;
  }

  .sidebar-container {
    @apply w-60 h-screen bg-white shadow-md p-6 flex flex-col gap-6;
  }

  .sidebar-logo {
    @apply text-xl font-bold text-gray-900 mb-4 flex items-center justify-center;
  }

  .sidebar-section {
    @apply flex flex-col gap-2;
  }




  /*-----------------------------------------------TIP TAP TEXT EDITOR STYLES --------------------------------*/
  .tiptapEditorWrapper {
    @apply border border-gray-300 rounded-md p-4 min-h-[150px] bg-white;
  }

  .toolbar {
    @apply border-t border-gray-200 pt-2 flex items-center gap-3 text-sm mb-2;
  }

  .toolbar button {
    @apply px-2 py-1 rounded-md border border-gray-300 text-gray-700 bg-white hover:bg-gray-100;
  }

  .activeBtn {
    @apply bg-yellow-100 text-yellow-700 border-yellow-400;
  }






  /*--------------------------------------- STYLES FOR FORM COMPONENTS ------------------------------------------------*/

  .form-label {
    @apply text-sm block font-semibold text-active-text mb-2;
  }

  .form-input-field {
    @apply w-full px-4 py-2 text-sm rounded-lg border transition-all outline-none;
  }

  .form-input-field-valid {
    @apply border-gray-300 focus:border-primary;
  }

  .form-input-field-error {
    @apply border-red-500 focus:border-red-300;
  }

  .error-msg{
    @apply text-red-500 text-sm mt-1;
  }

  .submit-bttn{
    @apply w-full flex items-center justify-center px-2 py-1.5 bg-page-background text-active-text border border-gray-300 rounded-lg hover:bg-gray-50 transition-colors duration-200 cursor-pointer;
  }

  .form-btn-full-width{
    @apply w-full bg-primary hover:bg-black text-white py-2 rounded-md font-semibold cursor-pointer;
  }

}

